/* ACCOUNT INFO */
body{
    margin:0;
    font-family: sans-serif;
    overflow-x:hidden;
}
.accInfo{
    /*padding-top: 58px;*/
    height: 600px;
    background: white;
}
.AccountLeft{
    background: #F2F2F2;
    float: left;
    height: 600px;
    width: 350px;
    font-family: sans-serif;
}
.AvatarAccount{
    background: #01A0DA;
    width: 350px;
    height: 120px;
    display: flex;
}
.avtr{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.AccountName{
    padding-top: 43px;
    color: white;
}
.AccountLeftOption{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.AccountLeftOption a:hover {
    color: #01A0DA;
}
.OptionIcon{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.NameOptionBold{
    margin-left: 10px;
}
.AccountLeftOption .NameOptionBold i{
    font-size: 30px;
    text-align: center;
    color: #01A0DA;
}
.OptionIcon i{
    font-size: 30px;
    text-align: center;
}

.fa-user{
    margin-left: 3px;
}
.fa-bars{
    margin-left: 4px;
}
.fa-cart-shopping{
    margin-left: -2px;
}
.fa-lock{
    margin-left: 3px;
}
.fa-clipboard-user{
    margin-left: 5px;
}
.NameOption{
    margin-left: 50px;
    transform: translateY(-23px);
}
.NameOptionBoldText{
    margin-left: 50px;
    transform: translateY(-23px);
    color: #01A0DA;
}
.SignOut{
    margin-top: 120px;
}
.OptionSignOut{
    width: 100px;
    height: 30px;
    border: grey solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.WelcomeAccount{
    margin-left: 620px;
    width: 700px;
    padding-top: 90px;
}
.WelcomeImage{
    width: 600px;
    height: 300px;
}
.WelcomeText{
    margin-left: -90px;
    font-size: 20px;
    text-align: center;
}
/*Update Profile*/
.addressInfo{
    margin-left: 370px;
    width: 1145px;
    padding-top: 30px;
    font-family: sans-serif;
}
#addressTitle{
    font-size: 35px;
    transform: translateY(-20px);
    margin-left: 10px;
}
.addressList{
    display: flex;
    /*margin-top: 10px;*/
    font-size: 17px;
    transform: translateY(-15px);
    flex-wrap: wrap;
}
.addressList > div {
    margin-top: 20px;
}
.addressList > div > input {
    margin-left: 10px;
    height: 30px;
    width: 1100px;
}

.addressButton{
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #01A0DA;
    color: white;
}
/*ChangePassword*/
.ChangePassword{
    margin-left: 380px;
}
#PasswordHeader{
    font-size: 35px;
    margin-left: 380px;
    padding-top: 40px;
    font-family: sans-serif;
}
.PasswordGroup{
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
}
.PasswordText{
    margin-top: 15px;
}
.PasswordText input{
    width: 1100px;
    height: 30px;
    padding-left: 5px;
}
.PasswordButton button{
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 7px;
    background: #01A0DA;
    color: white;
}
/*Credit Card*/
.chooseOption{
    height: 600px;
    margin-left: 380px;
    padding-top: 40px;
    font-family: sans-serif;
}
#payText{
    font-size: 35px;
    width: 700px;
}
.payList{
    margin-top: 10px;
    width: 800px;
    height: 480px;
}
.payInfo{
    width: 350px;
    height: 220px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #E1FDFF;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    transform: translateX(-20px);
}
.payIcon1{
    width: 120px;
    height: 120px;
    margin-top: 45px;
    margin-left: 15px;
}
.payIcon2{
    width: 120px;
    height: 120px;
    margin-top: 45px;
    transform: translateX(-45px);
}
.payIcon3{
    width: 120px;
    height: 120px;
    margin-top: 50px;
    margin-left: 15px;
    transform: translateX(-55px);
    border-radius: 15px;
}
.payIcon4{
    width: 120px;
    height: 120px;
    margin-top: 45px;
    transform: translateX(-10px);
}
.payName1{
    font-size: 20px;
    margin-left: 15px;
    transform: translate(1px, 47px);
}
.payName2{
    font-size: 20px;
    margin-left: 15px;
    transform: translate(-45px, 48px);
}
.payName3{
    font-size: 20px;
    margin-left: 15px;
    transform: translate(-45px, 49px);
}
.payName4{
    font-size: 20px;
    margin-left: 15px;
    transform: translate(-17px, 53px);
}

.payGroup{
    display: flex;
}
.payGroup{
    display: flex;
}
/*MEMBER CARD*/
.memberCard{
    margin-left: 380px;
    width: 500px;
    padding-top: 40px;
    font-family: sans-serif;
}
#memberText{
    font-size: 35px;
}
#memberGuide{
    font-size: 20px;
    margin-top: 10px;
    width: 1500px;
}
.logoCard{
    display: flex;
    transform: translateY(-30px);
    margin-right: 15px;
}
.CardInfo{
    margin-top: 22px;
    background: #E1FDFF;
    margin-left: 310px;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logoImg{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
#logoText{
    margin-top: 20px;
    font-size: 25px;
    color: #02BBE7;
    font-family: sans-serif;
    font-weight: 800;
}
#cardName{
    width: 300px;
    font-weight: bold;
    margin-left: 200px;
    transform: translateY(-30px);
}
.imgseri{
    width: 340px;
    height: 120px;
    transform: translateY(-20px);
}
#seriText{
    transform: translateY(-5px);
}
#memberBenefic{
    font-size: 25px;
    transform: translateY(390px);
}
#beneficInfo{
    font-size: 20px;
    width: 700px;
    transform: translateY(410px);
}

/**
thực hiện css cho combobox của các tình/ thành phố
 */
.ComboBoxCity{
    margin-left: 10px;
    height: 34px;
}






