body{
    margin: 0;
}
.breadcrumb {
    background-color: #f8f8f8;
    padding: 10px 20px;
    font-size: 14px;
    color: #555;
}
.breadcrumb a {
    color: #555;
    text-decoration: none;
    transition: color 0.2s;
}
.breadcrumb a:hover {
    color: #007bff;
}
.breadcrumb .separator {
    margin: 0 5px;
    color: black;
}
.breadcrumb .current {
    color: #000;
    font-weight: 500;
}

.MainCollectionBanner{
    width: 100%;
    height: 500px;
    background: #F7F7F7;
}
.MainCollectionBanner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.LowerPart{
    width: 100%;
    min-height: 1000px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.FilterSection {
    width: 20%;
    background: #F7F7F7;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.FilterBox {
    width: 280px;
    background: #E5E5E5;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.FilterHeader {
    width: 100%;
    background: #eee;
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.FilterHeader:hover {
    background: #ddd;
}

.FilterContent {
    max-height: 0;
    overflow: hidden;
    background: white;
    padding: 0 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.FilterContent.active {
    padding: 10px;
    max-height: 400px;
}

.FilterContent label {
    display: block;
    margin: 6px 0;
}

.FilterContent input[type="text"] {
    width: 95%;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ProductsSection{
    width: 78%;
    background: #F7F7F7;
}
.ProductSection {
    display: flex;
    flex-wrap: wrap;      /* allow new lines */
    gap: 20px;            /* space between boxes */
    justify-content: flex-start;
}

.ProductSection > div {
    flex: 1 1 calc(25% - 20px); /* 4 per row, minus the gap */
    background: #eee;
    height: 250px;              /* example height */
    border-radius: 8px;
}
