.OrdersDetailDisplay{
    height: 540px;
    width: 100%;
    border-radius: 15px;
    background: #001A2D;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.FilterBar {
    display: inline-block;
    align-items: center;
    background: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 15px;
}

.FilterSelect {
    padding: 6px 10px;
}

.FilterBtn {
    padding: 6px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
}

