html, body {
    height: 100%;
    margin: 0;
}

.AccountLeft{
    background: #F2F2F2;
    float: left;
    width: 350px;
    height: 730px;
    font-family: sans-serif;
    background: lightcyan;
}
.nameAdmin{
    font-size: 25px;
}
.AvatarAccount{
    background: #01A0DA;
    width: 350px;
    height: 120px;
    display: flex;
}
.avtr{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.AccountName{
    padding-top: 43px;
    color: white;
}
.AccountLeftOption{
    margin: 15px;
    display: flex;
    flex-direction: column;

}
.AccountLeftOption a:hover{
    cursor: pointer;
    color: #01A0DA;
}
.OptionIcon{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.NameOptionBold{
    margin-left: 10px;
    text-decoration: none;
}
.OptionIcon i{
    font-size: 30px;
    text-align: center;
}
.NameOptionBold i{
    font-size: 30px;
    text-align: center;
    color: #01A0DA;
}
.fa-box-open{
    transform: translateX(-5px);
}
.fa-address-card{
    transform: translateX(-4px);
}
.NameOption{
    margin-left: 50px;
    transform: translateY(-23px);
}
.NameOptionBoldText{
    margin-left: 50px;
    transform: translateY(-23px);
    color: #01A0DA;
}
.sgoutAdmin{
    width: 100px;
    height: 30px;
    border: black solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    margin-left: 10px;
    transform: translateY(330px);
    text-decoration: none;
}
.ManagerUser{
    display: flex;
}
.manageUserUi{
    transform: translate(370px,-320px);
}

#mangeUserHeader{
    font-size: 35px;
    width: 700px;

}
#adminSearch{
    font-size: 20px;
    width: 1100px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: black solid 1px;
}
.typeUser{
    width: 1100px;
    height: 23px;
    border: black solid 1px;
    margin-top: 20px;
    background: lightcyan;
    display: flex;
    font-size: 20px;
    gap: 100px;
    padding: 5px;
}
.typeUser #userTx{ transform: translateX(30px); }
.typeUser #userId{ transform: translateX(40px); }
.typeUser #userMember{ transform: translateX(45px); }
.typeUser #userPay{ transform: translateX(23px); }
.typeUser #userActivity{ transform: translateX(-10px); }
.typeUser #userStatus{ transform: translateX(-23px); }
.userBox{
    width: 1110px;
    height: 70px;
    border: black solid 1px;
    margin-top: 20px;
    background: lightgreen;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
.userGroup{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.userTxt  { flex: 5%; padding-left: 10px; }
.userTxt1 { flex: 7%; }
.userTxt2 { flex: 10%; }
.userTxt3 { flex: 10%; }
.userTxt4 { flex: 12%; }
.userTxt5 { flex: 3%; }
.choosePage{
    display: flex;
    gap: 20px;
    font-size: 25px;
    margin-top: 15px;
    transform: translateX(480px);
}
.pageInfo:hover{
    cursor: pointer;
    color: #01A0DA;
}
