.ShoppingCart{
    margin-left: 40px;
    margin-right: 40px;
}
.headerShoppingCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F5E779;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 37px;
    padding: 30px;

}
.bodyShoppingCart{
    background:#01A0DA;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:20px;
    margin-bottom: 20px;
}
.ListProductInShoppingCart{
    background: lawngreen;
    width:900px;
    height: 500px;
    padding:20px;
}
.InforShoppingCart{
    background:midnightblue;
    width:400px;
    margin-top:20px;
    margin-bottom: 20px;
}