body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/**
phần tiêu đề để hiện thị cho khách hàng biết ang ở trang thanh toán
 */
.headerForPagePayment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 10;
}

.TitleForPagePayment {
    margin-right: 45%;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.BackParent {
    color: #333;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    border: black 1px solid;
}

.BackParent:hover {
    color: deepskyblue;
    border: #0f5ec0 solid 1px;
}

.BodyForPagePayment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 60px;
    background: #f8f8f8;
}

.InforPayment {
    flex: 1;
    height: 500px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.InforProduct {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 520px;
    padding: 25px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);;
}

/**
hiển thị để cho khách hàng chọn kiểu thanh toán
 */
.ChooseTypePayment {
    padding-bottom: 10px;
    border-bottom: lightgray 1px solid;
}

.TitleChooseTypePayment {
    font-weight: bold;
    font-size: 17px;
}

.TypePayment {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.PaymentOption {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.PaymentOption input[type="radio"] {
    accent-color: #007bff;
}

.PaymentOption input[type="radio"]:checked + span {
    font-weight: 600;
    color: #007bff;
}

/**
thồn tin khách hàng
 */
.InforCustomer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.TitleInforCustomer {
    font-weight: bold;
    font-size: 17px;
}

.IforUser {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.IforUser input {
    padding: 5px;
}

/**
địa chỉ nhận hàng
 */
.AddAddess {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
}

.AddAddess label {
    font-weight: bold;
    font-size: 17px;
    color: #333;
}

.DefaultAddress {
    padding: 10px 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.DefaultAddressText {
    color: #999;
    font-size: 14px;
}

.ChangeAddress {
    margin-top: 5px;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.ChangeAddress:active {
    background-color: deepskyblue;
}

/**
 thực hiện phần sản phẩm khách hàng mua
 */
.InforProductTitle {
    font-weight: bold;
    font-size: 19px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.InforItemProduct {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    margin-top: 10px;
    margin-left: 40px;
    padding-bottom: 10px;
    overflow-y: auto;
    border-bottom: 1px solid gray;
}

.BottomOfPayment {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.InforImageProduct img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.InforMainforProduct {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ProductItemName {
    font-weight: 600;
    font-size: 16px;
}

.ProductItemBrand {
    font-size: 13px;
    color: #555;
}

.ProductItemDetail {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 13px;
    color: #555;
}

.ProductItemDetail span {
    font-weight: 500;
    color: #333;
}

.ProductItemPrice {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}

.TotalPaymentProduct {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid gray;

}

.ToltalOTP {
    font-weight: bold;
}

.DisplayButtonConfirm {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ConfirmPaymentButton {
    width: 300px;
    padding: 9px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: deepskyblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}

.ConfirmPaymentButton:active {
    background-color: #0f5ec0;
}
.ProductItemInPayment{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
