.MainManagerForUI {
    width: 100%;
}

.HeaderForManageProduct{

}
.ImgPreviewSmall {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.ColorTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.ColorTable th, .ColorTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ColorTable th {
    background-color: #f2f2f2;
    font-weight: 500;
}

.ColorBox {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.IconManageProduct{
    color: black;
}
.IconmanageView{
    color:deepskyblue;
}