.body{
    font-family: sans-serif;
    margin: 0;
}

.HistorySale{
    color:deepskyblue;
}

.BodyHistorySale{
    margin-left: 350px;
    height: 600px;
    padding:20px;
}

.ListItemProductInHistorySale{
    height: 500px;
}
.ItemProductInHistorySale{
    background:#dddddd;
    display: flex;
    justify-content:space-between;
    padding:10px;
    margin: 10px;
    border-radius:10px;
    align-items: center;
}
.ItemProductInHistorySale img{
    width:80px;
    height:80px;
    border-radius:10px;
}
.InforProduct{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex:1;
    padding-left:20px;
}
.NameProduct{
    font-weight: bold;
    font-size:17px;
    font-family: sans-serif;
}
.BrandProduct{
    font-weight: 500;
    font-size:15px;
    font-family: sans-serif;
    color: #999999;
}
.ButtonControl{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ButtonControl button{
    border-radius: 10px;
    padding: 5px 10px;
}
.ButtonDeleteItemProduct:active{
 color: white;
    background: #EE2F36;
}
.Review:active{
    color: white;
    background: #0f5ec0;
}
/**
update
 */
.OrderHistory{
    display:flex;
    flex-direction: column;
    border:1px #dddddd solid;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
.titleOrderHistory{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:20px;
    margin-right: 20px;
    font-weight:bold;
    font-family: sans-serif;
    font-size: 17px;
}
.titleOrderHistory span{
    font-weight:300;
}