/* ACCOUNT INFO */
.accInfo{
    height: 600px;
    background: white;
}
.acclf{
    background: #F2F2F2;
    float: left;
    height: 600px;
    width: 350px;
    font-family: sans-serif;
}
.avtac{
    background: #01A0DA;
    width: 350px;
    height: 120px;
    display: flex;
}
.avtr{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.infoac{
    padding-top: 43px;
    color: white;
}
.optac{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.optac a:hover {
    color: #01A0DA;
}
.tk{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.tkad{
    margin-left: 10px;
}
.tk i{
    font-size: 30px;
    text-align: center;
}
.tkad i{
    font-size: 30px;
    text-align: center;
    color: #01A0DA;
}
.fa-user{
    margin-left: 3px;
}
.fa-bars{
    margin-left: 4px;
}
.fa-cart-shopping{
    margin-left: -2px;
}
.tktxt{
    margin-left: 50px;
    transform: translateY(-23px);
}
.tktxtad{
    margin-left: 50px;
    transform: translateY(-23px);
    color: #01A0DA;
}
.sgout{
    width: 100px;
    height: 30px;
    border: grey solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    margin-left: 10px;
    transform: translateY(220px);
    text-decoration: none;
    color: black;
}
.wcac{
    margin-left: 620px;
    transform: translateY(-300px);
    width: 700px;
}
.wcm{
    width: 600px;
    height: 300px;
}
.wctxt{
    margin-left: -90px;
    font-size: 20px;
    text-align: center;
}

/*MEMBER CARD*/
.membercd{
    margin-left: 380px;
    width: 500px;
    transform: translateY(-350px);
}
#mbcd{
    font-size: 35px;
}
#txtmb{
    font-size: 20px;
    margin-top: 10px;
    width: 1500px;
}
.lgwt{
    display: flex;
    transform: translateY(-30px);
    margin-right: 15px;
}
#lgtxt{
    margin-top: 20px;
}
.lgatxt{
    margin-top: 22px;
    background: #E1FDFF;
    margin-left: 310px;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgcd{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
#lgtxt{
    font-size: 25px;
    color: #02BBE7;
    font-family: sans-serif;
    font-weight: 800;
}
#nmus{
    width: 300px;
    font-weight: bold;
    margin-left: 200px;
    transform: translateY(-30px);
}
.imgseri{
    width: 340px;
    height: 120px;
    transform: translateY(-20px);
}
#seritxt{
    transform: translateY(-5px);
}
#mbbn{
    font-size: 25px;
    transform: translateY(390px);
}
#txtvc{
    font-size: 20px;
    width: 700px;
    transform: translateY(410px);
}
/*Address*/
.addressInfo{
    margin-left: 370px;
    width: 1300px;
    transform: translateY(-325px);
}
#addar{
    font-size: 35px;
    transform: translateY(-20px);
    margin-left: 10px;
}
.lstaddress{
    margin-top: 10px;
    font-size: 20px;
    transform: translateY(-20px);
}
.lstaddress > div {
    margin-top: 20px;
}
.lstaddress > div > input {
    margin-left: 10px;
    height: 30px;
    width: 1200px;
}
.setdf{
    font-size: 15px;
    margin-left: 5px;
}
.addrbt{
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #01A0DA;
    color: white;
}

/*Account UI*/
.acui{
    background: #01A0DA;
    width: 350px;
    height: 50px;
    display: flex;
}
#acuitxt{
    color: white;
    font-size: 22px;
    margin-left: 75px;
    margin-top: 10px;
}
.sgoutui{
    width: 100px;
    height: 30px;
    border: grey solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    margin-left: 10px;
    transform: translateY(290px);
    text-decoration: none;
    color: black;
}
.ctui{
    margin-left: 370px;
    transform: translateY(-310px);
    text-align: center;
    align-items: center;
    width: 900px;
}
.fstacc{
    display: flex;
}
#fstact{
    width: 160px;
    height: 160px;
}
#nmac{
    font-size: 35px;
}
#btfstac{
    margin-left: 320px;
    border-radius: 5px;
    color: white;
    background: #01A0DA;
    padding: 5px;
    height: 40px;
    transform: translateY(60px);
}
.avtvid{
    transform: translateY(50px);
}
#idac{
    margin-right: 55px;
    margin-top: 5px;
}
#acuigd{
    font-size: 20px;
    margin-right: 100px;
}
.bximg{
    width: 40px;
    height: 40px;
}
.lstbnf i{
    font-size: 60px;
    margin-top: 60px;
    transform: translateX(-5px);
}
.bnf1{
    display: flex;
}
.bnfb{
    background: #B3FDFF;
    width: 350px;
    height: 230px;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 30px;
}
.bxtxt{
    font-size: 20px;
    margin-top: 10px;
    transform: translateY(3px);
}
.dbh{
    display: flex;
    padding-top: 30px;
    font-size: 20px;
    margin-left: 30px;
}
.dbh i{
    font-size: 30px;
    transform: translateY(-63px);
}
#slopt{
    margin-left: 20px;
    font-size: 17px;
    padding: 3px;
    transform: translateY(-2px);
    height: 30px;
    width: 60px;
}
.dbhtxt{
    margin-left: 20px;
}
.rngt{
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    transform: translateY(-40px);
}
#rtop{
    margin-left: 15px;
    font-size: 17px;
    padding: 3px;
    transform: translateY(-1px);
}
/*Credit Card*/
.choosecd{
    height: 600px;
    transform: translateX(20px);
}
#pmhd{
    font-size: 35px;
    transform: translateX(20px);
    padding-top: 20px;
}
.cdlst{
    display: flex;
    transform: translateY(20px);
}
.cdgr{
    display: flex;
    text-align: center;
    justify-content: center;
    background: #E1FDFF;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 400px;
    height: 170px;
    margin-top: 20px;
}
.cdgrm{
    display: flex;
    text-align: center;
    justify-content: center;
    background: #E1FDFF;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 370px;
    height: 170px;
    margin-top: 20px;
}
.cdimg1{
    width: 120px;
    height: 120px;
    transform: translateX(-55px);
    margin-top: 20px;
}
.cdtxt1{
    margin-top: 20px;
    transform: translateX(-40px);
    font-size: 20px;
}
.cdimg2{
    width: 120px;
    height: 120px;
    transform: translateX(-85px);
    margin-top: 20px;
}
.cdtxt2{
    margin-top: 20px;
    transform: translateX(-70px);
    font-size: 20px;
}
.cdimg3{
    width: 120px;
    height: 120px;
    transform: translateX(-60px);
    margin-top: 25px;
    border-radius: 15px;
}
.cdtxt3{
    margin-top: 23px;
    transform: translateX(-40px);
    font-size: 20px;
}
.cdimg4{
    width: 120px;
    height: 120px;
    transform: translateX(-10px);
    margin-top: 25px;
    border-radius: 15px;
}
.rdo{
    width: 20px;
    height: 20px;
    display: flex;
    transform: translate(50px, 150px);
}
.rdom{
    width: 20px;
    height: 20px;
    display: flex;
    transform: translate(80px, 150px);
}







